{% extends 'layout.html' %}

{% block body %}
    <h1>About Us</h1>
    <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit diam ac convallis accumsan. Nullam lectus dui, tempus a tellus sit amet, malesuada euismod lectus. Sed ultrices leo sit amet mi ornare, pretium accumsan libero volutpat. In ac nisl tortor. Mauris vel diam pellentesque, pellentesque mauris ut, tempus ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas suscipit scelerisque elit sed consequat. Nam sed tortor sit amet urna convallis aliquam. Duis et est molestie, vehicula eros ut, condimentum purus. Duis sit amet pretium lectus. Cras aliquet in arcu nec suscipit. Nam vehicula, risus et congue interdum, massa enim tempus nunc, ut viverra ligula nulla sit amet enim. Maecenas lectus lectus, dictum sed facilisis id, suscipit a sem. Etiam eu dignissim mauris.</p>
{% endblock %}